/* div {
    height: 100px;
    width: 140px;
    background-color: blue;
    border-radius: 10px;
} */

/* @keyframes demo {
    from {
        background-color: blue;
    }

    to {
        background-color: purple;
    }
}

div {
    background-color: blue;
    animation-name: demo;
    animation-duration: 4s;
} */

@keyframes abhi {
    0% {
        background-color: blue;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: pink;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: black;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

}

div {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    position: relative;
    background-color: blue;
    animation-name: abhi;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-direction: reverse;
}