/* body {
    background-color: purple;
}

div {
    color: red;
    background-color: white;
}

span {
    background-color: white;
} */

/* body {
    background-image: url("/htmlelements/car.jpg");
    background-repeat: no-repeat;
    opacity: 0.5;
} */

/* img {
    opacity: 0.5;
} */

/* h1 {
    border: 2px blue solid;
} */

/* h1 { */
/* border-style: dashed; */
/* border-style: dotted; */
/* border-style: double; */
/* border-style: inset; */
/* border-style: outset; */
/* border-style: solid; */
/* color: purple;
    border: 3px solid purple; */
/* border-radius: 20px; */
/* border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; */
/* } */

/* h1 {
    color: purple;
    border: 2px solid purple;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
} */

/* h2 {
    border: 3px solid blue;
    margin: 100px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: blue;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50%;

} */

/* div {
    height: 100px;
    width: 100px;
    border: 2px solid blue;
    background-color: blue;
    margin-left: 200px;
    margin-top: 200px;
} */

/* div {
    height: 200px;
    width: 200px;
    border: 2px solid purple;
    background-color: purple;
} */

/* p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

/* div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
} */

/* h2 {
    color: purple;
    border: 2px solid purple;
    margin-top: 200px;
    direction: rtl;
    unicode-bidi: bidi-override;
} */

/* h2 {
    text-decoration-line: underline;
    text-decoration-color: purple;
    text-decoration-style: double;

}

h1 {
    text-transform: uppercase;
} */

/* p {
    text-indent: 100px;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 50px;
    text-align: justify;
} */

/* h1 {
    color: rebeccapurple;
    text-shadow: 2px 2px 2px purple;
} */

/* h1 {
    color: red;

}

h2 {
    color: red;
}

h3 {
    color: red;
} */

/* .class1 {
    color: red;
} */

/* .class1 {
    color: red;
}

.class2 {
    color: purple;
} */

/* h1 {
    color: blue;
} */

/* #id1 {
    color: brown;
}

#id1 {
    color: aqua;
} */

/* .div1 {
    height: 200px;
    width: 200px;
    border: 2px solid purple;
    background-color: purple;
}

.div2 {
    height: 200px;
    width: 200px;
    border: 2px solid rgb(12, 11, 12);
    margin: 10px;
    background-color: black;
} */
h2 {
    text-align: center;
    color: blue;
}

h2:hover {
    color: purple;
}

.div1 {
    height: 100px;
    width: 100%;
    border: 2px solid blue;
    /* overflow: scroll; */
    overflow: auto;
    /* overflow: hidden; */
    /* overflow: visible; */
    margin-bottom: 30px;
}

/* a {
    text-decoration-line: none;
    background-color: purple;
    color: white;
    padding: 3px;
    margin-left: 220px;
}

a:hover {
    border: 1.5px solid purple;
    color: purple;
    background-color: white;
} */

.div2 {
    text-align: center;
    color: blue;
    font-size: 30px;
    font-weight: lighter;
    transform: rotate(45deg);
}

table {
    border: 2px solid blue;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 2px solid blue;
    padding: 5px;
    font-size: 20px;
}

td {
    text-align: center;
    font-size: 18px;
}

/* .div3 {
    height: 100px;
    width: 100px;
    border: solid purple;
    margin-top: 10px;
    background-color: purple;
    transform: translate(100px, 200px); */
/* transform: rotate(45deg); */
/* transform: scaleX(1.2);
    transform: scaleY(1.2); */
/* transform: scale(0.5, 0.5); */
/* transform: skewY(45deg); */
/* transform: skew(20deg, 10deg);
/* } */